@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #323232;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


// left
$orange: #ff9107;
$panel-width: 24vw;
.cat-panel {
  font-family: 'Roboto', sans-serif;
  width: $panel-width;
  height: 100vh;
  position: fixed;
  background: #fafafa;
}

.bar-chart {
  margin-left: 40px;
  margin-right: 40px;
  display: block;
  text-align: left;

  .title {
    margin-left: 0;
    margin-bottom: 5px;
    margin-top: 20px;

  }

  .bar-and-text {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;

    .bar {
      transition: height 0.4s ease;
      display: block;
      width: 80px;

      &:hover {
        background: grey;
      }
    }

    .text {
      width: 80px;
      margin-right: 5px;
      margin-top: 5px;
      text-align: center;
      padding-top: 5px;
      padding-bottom: 5px;

      .div {
        margin: 5px;
      }
    }

  }
  .all-button {
    margin-top: 5px;
    padding: 5px;
    text-align: center;

    &:hover {
      background: grey;
    }
  }
}








// right

.cat-display {
  background: #f0f0f0;
  position: absolute;
  top: 0;
  left: $panel-width;
  z-index: -1;

  .flip-move {
    display: flex;
    flex-wrap: wrap;
  }
}

.cat-card {
  height: 180px;
  width: 180px;
  margin: 45px;
  font-size: 20px;
  font-weight: 300;
  align-items: center;

  .caption {
    margin-top: 7px;
  }
  img {
    display: block;
    transition: width 0.2s cubic-bezier(.32,1.13,.67,1.75), height 0.2s cubic-bezier(.32,1.13,.67,1.75), transform 0.2s cubic-bezier(.32,1.13,.67,1.75);
    height: 180px;
    width: 180px;
    margin: auto;

    &:hover {
      height: 200px;
      width: 200px;
    }
  }
}



.popup {
  min-width: 100%;
  min-height: 100%;
  background: white;

  img {
    display: inline-block;
    float: left;
    margin-left: 60px;
    margin-top: 30px;
    width: 20vw;
    height: 20vw;
  }

  .cat-info {
    float: left;
    width: 30vw;
    margin-left: 100px;
    text-align: left;
    display: inline-block;
    padding-top: 40px;

    .breed-name {
      font-size: 60px;
      font-weight: 300;
      margin-bottom: 30px;
    }

    .facts-title, .alt-name {
      font-size: 20px;
      font-weight: 300;
      font-style: italic;
      margin: 0
    }

    .metadata {
      font-size: 20px;
      font-weight: 600;
        margin: 5px 0;
    }

    .description {
      font-size: 20px;
      font-weight: 400;
      margin-top: 30px;

      div {
        margin: 10px 0;
      }
    }

    .history {
      font-size: 20px;
      font-weight: 300;
      margin-top: 30px;

      div {
        margin: 10px 0;
      }
    }
  }
}


// popup
.popup-lib {
  .skylight-overlay {
    visibility: hidden;
  }
  .skylight-dialog {
    position: fixed !important;
    left: $panel-width !important;
    top: 0 !important;
    margin: 25px !important;
    width: calc(76vw - 80px) !important;
    height: calc(100vh - 80px) !important;
    display: flex;
    background: #f0f0f0;
    z-index: 1;

  }

  .skylight-close-button {
    visibility: hidden;
  }
}


// title
.title {
  text-align: left;
  margin-left: 40px;
  margin-top: 70px;
  margin-right: 40px;

  .catology {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 600;
    .cat {
      color: $orange;
    }
    .ology {
      color: #5a5a5a;
    }
  }

  .description {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
  }
}